#results
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#results td, #results th
{
font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
#results th
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#results tr.alt td
{
color:#000000;
background-color:#EAF2D3;
}